#!help

# What you can get from this file.

    1. git push without the user.name or password.

 
1. edit the .git/config

    [remote "origin"]
    #   url = https://github.com/gmaui/git_startup.git
        url = git@github.com:gmaui/git_startup.git
        fetch = +refs/heads/*:refs/remotes/origin/* 

